.container-tutorial {
    display: flex;
    width: 1260px;
    height: 745px;
    top: 113.02px;
    left: 109.63px;
    gap: 0px;
    border-radius: 50px 0px 0px 0px;
    opacity: 0px;
 
}

#Alien {
    display: flex;
    width: 253px;
}